.btn {
    background-color: $my-red;
    color: white;
     :hover {
        transition: 0.5s;
        color: lightslategray;
        background-color: $my-dark-red;
    }
}

#edita-perfil {
    margin-right: 10px !important;
}