$dark: #414749;
$my-red: #A33E3E;
$my-dark-red: #713b3b;
@import "buttons.scss";
@import "navbar.scss";
@import "editClick.scss";
@import "establiment.scss";
@import "images.scss";
@import "checkbox.scss"