.realBtn {
    background-color: $my-red;
    color: white !important;
     :hover {
        transition: 0.5s;
        color: lightslategray;
        background-color: $my-dark-red;
    }
}

#edita-perfil {
    margin-right: 10px !important;
}

#edita-nom {
    margin-left: 10px;
}