#perfilContainer {
    margin-top: 60px;
}

#perfilCard {
    margin-top: 15px;
}

.establiment-title-div {
    margin-top: 30px;
}

.establiment-description-div {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.action {
    margin-top: 20px;
}

li {
    list-style-type: none;
}

.card {
    border: none !important;
}