.modal {
    display: none;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: #84878a;
}

.modal-header {
    background-color: #84878a;
    color: #ffffff;
}

.modal-body {
    background-color: #84878a;
    color: #ffffff;
    text-align: center !important;
}

.modal-footer {
    background-color: #84878a;
    color: #ffffff;
}