$dark: #414749;
$my-red: #94bfbe;
$my-dark-red: #94bfbe;
@import "buttons.scss";
@import "navbar.scss";
@import "editClick.scss";
@import "establiment.scss";
@import "images.scss";
@import "checkbox.scss";
@import "footer.scss";
@import "modal.scss";