/*@import url('https://fonts.googleapis.com/css?family=Vernada:300,400,500,700&display=swap');*/
:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
 #contenidorPrincipal{
    margin-top: 2%;
 }
* {
  margin:0;
  padding: 0;
}

#filtre{
  text-align: center;
}
body{
  background-color:#eaeff1 ;
}

.navbar{
  background-color: #f4f4f6;
  background-repeat: no-repeat;
  height: 100px;
}

nav ul{
  font-size:20px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav-link{
  color: #76797c;
}
.nav-link:hover{
  color: #76797c !important;
}
.card{
  background-color:  #84878a ;
  color: white;
  height: 100%;
}
.col-md-4{
  padding-top: 5%;
}

footer {
    background-image:linear-gradient(#bfbfbf,#999 50%,#8f8f8f);
    background-repeat: no-repeat;
    color: white;
  }
  
  .links ul {
    list-style-type: none;
  }
  .links li a {
    color: white;
    transition: color 0.2s;
  }
  .links li a :hover {
    text-decoration: none;
    
  }
  
  .location i {
    font-size: 18px;
  }
  
  .copyright p {
    border-top: 1px solid grey;
  }

a {
  text-decoration: none;
  color:#76797c;
}
p{
  font-size: 16px;
}
.btn{
  background-color: #94BFBE;
  color: white;
}
#borrar{
  margin: 35px;
  width: 15%;
  height: 50%;
}
label{
    font-size: var(--fontsize-p);
}

h1,h2,h3,h4,p{
  margin: 10px;

}


nav ul  {
    display: flex;
}
  
nav ul li {
    margin: 10px;
}



.leaflet-container {
  height: 400px;
  margin-top: 90px;
  margin-bottom:90px;
}


.sticky-inner {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}



